footer {
    z-index: 300;
    height: 400px;
    background-color: rgb(58, 20, 88);
    color: white;
    text-align: center;
}

footer h1 {
    padding-top: 40px;
    color: rgb(239, 239, 239);   
}

.footer-link {
    color: rgb(239, 239, 239);
}

.footer-link:hover {
    color: rgb(255, 204, 0);
}