header {
    position: static;
    margin: 0px;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgb(127, 50, 155);
    width: 100%;
    height: 85px;
    display: flex;
    align-items: center;


}

#header-logo {
    margin-left: 20px;
    color: white;
    display: inline;
}

header a {
   
    display: inline;
    text-decoration: none;
    color: white;

}

#time {
    position: absolute;
    font-size: 14px;
}

